.lotofacil {
    color: #930089;
}

.megasena {
    color: #209869;
}

.quina{
    color: #260085;
}

.ativo {
    color: #aaa;
    pointer-events: none;
}

.botao{
    font-size: 35px;
    text-decoration: none;
    font-weight: bolder;
    margin-right: 15px;
    font-family: roboto;
}